@media screen and (max-width : 1024px) {
    .elements , .nav_btn {
        display: none;
    }
    .home_content {
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
        gap: 3rem;
        
    }
    .home_section {
        text-align: center;
        grid-template-columns: 1fr !important;
        gap: 4rem;
    }
    .companies_logos {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .features_content p,
    .features_content h2 {
        text-align: center;
    }
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width : 720px) {
    .cards {
        grid-template-columns: repeat(1,1fr);
    }
}

